.h-primary{
    font-size: 1.3rem;
}
.h-secondary{
    font-size: 0.6rem;
}
#home{
    padding: 0px 0px;
}
#home p{
    /* color: black; */
    /* text-align: center; */
    font-size: 1rem;
    /* font-family: 'Baloo Bhai', cursive; */
    /* text-shadow: 1px 1px black; */
}
.navbar::before{
    height: auto;
    width: auto;
}
#home::before{
    /* height: auto;
    width: auto; */
}